.popup__button{ 
  background-color: transparent;
  border: none;
  align-self: flex-end;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 155px;
  right: 385px;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  } 
  .popup__button:hover{ 
    opacity: 0.6;
}
  @media (max-width: 767px){
    .popup__button{
      margin-bottom: 16px;
      width: 20px;
      height: 20px;
      top: 87px;
      right: 19px;
    } 
  } 