.elements{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  padding-top: 51px;
}

@media (max-width: 767px) {
  .elements{
    display: flex;
    flex-direction: column;
}
}